@model AnilShop.Entities.Urun

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-12">
        <h3>Bu Ürünü Silmek İstediğinizden Emin misin?</h3>
    </div>

</div>
<div class="row">
    <div class="col-md-12">

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UrunAdi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UrunAdi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UrunAcıklamasi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UrunAcıklamasi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fiyat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EklenmeTarihi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EklenmeTarihi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DuzenlemeTarihi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DuzenlemeTarihi)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Geriye Git ", "Index", "Urun", htmlAttributes: new { @class = "btn btn-info" })
                </div>
            }
        </div>

    </div>

</div>

